<tr class="{CSS_ROW} {ADDITIONAL_CSS} xvmp_table_row xvmpSortable" id="xvmp_row_{VAL_MID}">
	<td class="std small">
		<span class="glyphicon glyphicon-resize-vertical"></span>
		<!--<input type="hidden" name="position[]" value="{ID}">-->
	</td>
	<!--<td class="std small xvmp_action">-->
		<!--<div class="xvmp_sort_container">-->
			<!--<a id="xvmp_up_{VAL_MID}" onclick="VimpSelected.up(event, {VAL_MID});">-->
				<!--<img width="30px" src="./templates/default/images/arrow_up.svg">-->
			<!--</a>-->
			<!--<a id="xvmp_down_{VAL_MID}" onclick="VimpSelected.down(event, {VAL_MID});">-->
				<!--<img width="30px" src="./templates/default/images/arrow_down.svg">-->
			<!--</a>-->
		<!--</div>-->
	<!--</td>-->
	<td class="std small">
		<a onclick="VimpContent.playVideo({VAL_MID});">
			<div class="xvmp_image_container">
				<img width="170px" height="95px" class="xvmp_preview_image" src="{VAL_THUMBNAIL}">
				<div class="xvmp_play_overlay">
					<div class="xvmp_pseudo_element"></div> <!-- this is necessary to center the following image -->
					<img class="xvmp_play_icon" width="32px" height="32px" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/play.svg">
				</div>
			</div>
		</a>
	</td>
	<td class="std small">
		<input id="xvmp_visible_{VAL_MID}" onclick="VimpSelected.setVisibility(event, {VAL_MID});" type="checkbox" {VAL_VISIBLE} {VAL_VISIBILITY_DISABLED}>
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_DESCRIPTION}
	</td>
	<td class="std small">
		{VAL_USERNAME}
	</td>
	<td class="std small">
		{VAL_CREATED_AT}
	</td>
	<td class="std small xvmp_action">
		<a id="xvmp_remove_{VAL_MID}" onclick="VimpSelected.remove(event, {VAL_MID});" class="xvmp_action_remove">
			<img width="40px" src="/Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/icon_xvmp_remove.svg">
		</a>
	</td>
</tr>