<tr class="{CSS_ROW} {ADDITIONAL_CSS} xvmp_table_row" id="xvmp_row_{VAL_MID}">
	<td class="std small">
		{VAL_DATETIME}
	</td>
	<td class="std small">
		{VAL_ACTION}
	</td>
	<td class="std small">
		{VAL_USER}
	</td>
	<td class="std small">
		{VAL_MID}
	</td>
	<!-- BEGIN block_object_title -->
	<td class="std small">
		<a href="{VAL_OBJECT_LINK}">
			{VAL_OBJECT_TITLE}
		</a>
	</td>
	<!-- END block_object_title -->
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_DATA}
	</td>
</tr>