.box {
	width: 100%;
	border: 1px solid black;
	background-color: white;
	height: 236px;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}

.innerContent {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.xvmp_image_container {
	height: 236px;
	width: 356px;
	float: left;
	background-color: black;
	text-align: center;
	display: inline;
	overflow: hidden;
}

.xvmp_video_infos {
	padding-left: 36px;
	padding-top: 20px;
	overflow: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	height: 100%;
}

.xvmp_video_infos .xvmp_title_container {
	margin-top: 8px;
	margin-bottom: 13px;
}

.xvmp_video_infos p {
	margin: 6px 0;
	color: black;
	width: 94%
}

.xvmp_video_infos p.xvmp_description {
	font-style: italic;
	margin-bottom: 10px;
}

.xvmp_video_infos h2, .xvmp_video_infos p {
	/*display: inline;*/
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	clear: both;
}


/* PLAY OVERLAY */
.xvmp_play_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: inherit;
	width: inherit;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,.7);
	vertical-align: middle;
	display: inline-block;
	/*background: url('../images/play.svg') center no-repeat;*/
}

.box:hover .xvmp_play_overlay, .box:hover .xvmp_play_icon {
	opacity: 1;
}

.xvmp_not_available_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: inherit;
	width: inherit;
	background-color: rgba(0,0,0,.7);
	vertical-align: middle;
	display: inline-block;
	color: white;
}

.box a:hover {
	text-decoration: none;
	color: inherit;
}

.default_cursor {
	cursor: default;
}

/* this is necessary to center the "play" image */
.xvmp_pseudo_element {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

div.xvmp_image_container img.xvmp_play_icon {
	vertical-align: middle;
	display: inline-block;
}

div.xvmp_image_container img.xvmp_preview_image {
	background: black url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
}

@media only screen and (max-width : 650px) {
	/* Tablet view: 2 tiles */
	.xvmp_image_container {
		width: 100%;
		height: 172px;
	}

	.xvmp_image_container img {
		width: 295px;
		height: 172px;
	}

	.xvmp_video_infos {
		position: relative;
		left: 0;
		float: left;
		width: 100%;
		padding-left: 20px;
	}

	.box {
		height: 320px;
	}
}
