div#xvmp_video_infos .ilPermalinkContainer {
	width: inherit;
	margin-top: 10px;
}

div#xvmp_video_container {
	/*margin: auto;*/
	width: 70%;
	max-width: 700px;
	background: black;
	float: left;
	margin-right: 20px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

div#xvmp_video_container iframe {
	width: 100%;
	max-width: 700px;
	background: black;
	margin-right: 20px;
}

div.xvmp_image_container img.xvmp_preview_image {
	background: url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
}

div#xvmp_video_infos {
	margin-left: 10px;
}

div#xvmp_video_infos div.dropdown {
	position: relative;
	float: left;
}

div.xvmp_video_infos {
	padding: 0 5px;
}

div#xvmp_video_list_container {
	overflow-x: auto;
	overflow-y: hidden;
	/*width: auto;*/
	margin-top: 20px;
	white-space: nowrap;
	width: 100%;
	float:left;
}

div#xvmp_video_list_container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div#xvmp_video_list_container::-webkit-scrollbar
{
	height: 10px;
	background-color: #F5F5F5;
}

div#xvmp_video_list_container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.box {
	width: 150px;
	padding-bottom: 150px;
	margin: 0 10px 10px 0;
	color: black;
	position: relative;
	display: inline-block;
	/*float: left;*/
	text-align: center;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	border-radius: 7px;
}

.box:hover .xvmp_overlay_infos {
	/*opacity: 1;*/
}

.box:hover {
	opacity: 0.75;
}

.xvmp_overlay_infos {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
}


.xvmp_overlay_infos_content {
	text-align: left;
	padding: 4%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.xvmp_title h2 {
	margin-top: 7px;
	overflow:hidden;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
}

.innerContent {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.xvmp_image_container {
	text-align: center;
	width: 100%;
	height: 60%;
	background: black;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

div.xvmp_image_container img.xvmp_preview_image {
	background: url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
	width: 100%;
	height: 100%;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.xvmp_play_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: inherit;
	width: inherit;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,.7);
	vertical-align: middle;
	display: inline-block;
	/*background: url('../images/play.svg') center no-repeat;*/
}

.box:hover .xvmp_play_overlay, .box:hover .xvmp_play_icon {
	opacity: 1;
}

/* this is necessary to center the "play" image */
.xvmp_pseudo_element {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

div.xvmp_image_container img.xvmp_play_icon {
	vertical-align: middle;
	display: inline-block;
}

.xvmp_preview_image {
	height: 100%;
	max-width: 100%;
	horiz-align: center;
}

.waiting {
	background: url('../images/spinner.gif') no-repeat center center !important;
}

@media only screen and (max-width : 1000px) {
/* Small desktop / ipad view: 3 tiles */
	div#xvmp_video_infos {
		width: 100%;
		float:left;
	}

	div#xvmp_video_container {
		/*margin: auto;*/
		width: 100%;
		max-width:100%;
		background: black;
		float: left;
		margin-right: 20px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
	}

	div#xvmp_video_container iframe {
		/*margin: auto;*/
		width: 100%;
		max-width:100%;
		background: black;
		/*margin-right: 20px;*/
	}
}

/*@media only screen and (max-width : 480px) {*/
	/*!* Smartphone view: 1 tile *!*/
	/*.box {*/
		/*width: 95%;*/
		/*max-width: 95%;*/
		/*padding-bottom: 100%;*/
		/*margin: 0 0 5% 0;*/
	/*}*/
/*}*/
/*@media only screen and (max-width : 650px) and (min-width : 481px) {*/
	/*!* Tablet view: 2 tiles *!*/
	/*.box {*/
		/*width: 46%;*/
		/*max-width: 46%;*/
		/*padding-bottom: 46%;*/
		/*margin: 0 2% 2% 0;*/
	/*}*/
/*}*/
/*@media only screen and (max-width : 860px) and (min-width : 651px) {*/
	/*!* Small desktop / ipad view: 3 tiles *!*/
	/*.box {*/
		/*width: 30%;*/
		/*max-width: 30%;*/
		/*padding-bottom: 30%;*/
		/*margin: 0 3% 3% 0;*/
	/*}*/
/*}*/
/*@media only screen and (min-width : 860px) {*/
	/*!* desktop view: 4 tiles *!*/
	/*.box {*/
		/*width: 23%;*/
		/*max-width: 23%;*/
		/*padding-bottom: 23%;*/
		/*margin: 0 2% 2% 0;*/
	/*}*/
/*}*/
