.box {
	width: 30%;
	padding-bottom: 26%;
	margin: 0 3% 3% 0;
	color: black;
	position: relative;
	float: left;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.xvmp_title, .xvmp_description, .xvmp_duration {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
}

.box:hover .xvmp_overlay_infos {
	opacity: 1;
}

.xvmp_overlay_infos {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
}


.xvmp_overlay_infos_content {
	text-align: left;
	padding: 4%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.xvmp_video_infos {
	padding:10px;
}

.xvmp_video_infos h2 {
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
	overflow: hidden;
}

.innerContent {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.xvmp_image_container {
	text-align: center;
	width: 100%;
	height: 66%;
	background: black;
}

.xvmp_image_container img:hover {
	opacity: 0.75;
}

div.xvmp_image_container img {
	width: 100%;
	height: 100%;
	background: url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
}

.xvmp_preview_image {
	height: 100%;
	max-width: 100%;
	horiz-align: center;
}

.waiting {
	background: url('../images/spinner.gif') no-repeat center center !important;
}

div.modal-content {
	width: fit-content;
	height: fit-content;
	max-width: 100%;
	margin: auto;
}

div.modal-body > section > iframe {
	background: black url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
}

@media only screen and (max-width : 480px) {
	/* Smartphone view: 1 tile */
	.box {
		width: 95%;
		max-width: 89%;
		padding-bottom: 100%;
		margin: 0 0 5% 0;
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	/* Tablet view: 2 tiles */
	.box {
		width: 46%;
		max-width: 46%;
		padding-bottom: 41%;
		margin: 0 2% 2% 0;
	}
}
@media only screen and (max-width : 860px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.box {
		width: 30%;
		max-width: 30%;
		padding-bottom: 26%;
		margin: 0 3% 3% 0;
	}
}
@media only screen and (min-width : 860px) {
	/* desktop view: 4 tiles */
	.box {
		width: 23%;
		max-width: 23%;
		padding-bottom: 20%;
		margin: 0 2% 2% 0;
	}
}