.box {
	width: 30%;
	padding-bottom: 26%;
	margin: 0 3% 3% 0;
	color: black;
	position: relative;
	float: left;
	background: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	border-radius: 7px;
}

.xvmp_title, .xvmp_description, .xvmp_duration {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
}

.box:hover .xvmp_overlay_infos {
	opacity: 1;
}

.box a:hover {
	text-decoration: none;
	color: inherit;
}

.default_cursor {
	cursor: default;
}

.xvmp_overlay_infos {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: white;
	border-radius: 6px;
	overflow: auto;
}


.xvmp_overlay_infos_content p {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
}

.xvmp_overlay_infos_content {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
	text-align: left;
	padding: 4%;
	width: 100%;
	position: absolute;
}

.xvmp_video_infos {
	padding:10px;
}

.xvmp_video_infos h2 {
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
	overflow: hidden;
}

.innerContent {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.xvmp_image_container {
	text-align: center;
	width: 100%;
	height: 66%;
	background: black;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.xvmp_image_container img:hover {
	opacity: 0.75;
}

div.xvmp_image_container img {
	width: 100%;
	height: 100%;
	background: url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
}

.xvmp_preview_image {
	height: 100%;
	max-width: 100%;
	horiz-align: center;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.waiting {
	background: url('../images/spinner.gif') no-repeat center center !important;
}

.xvmp_ellipsis {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
}

.xvmp_play_overlay, .xvmp_play_overlay img {
	display: none;
}

@media only screen and (max-width : 480px) {
	/* Smartphone view: 1 tile */
	.box {
		width: 100%;
		max-width: 100%;
		padding-bottom: 100%;
		margin: 0 0 5% 0;
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
	/* Tablet view: 2 tiles */
	.box {
		width: 48%;
		max-width: 48%;
		padding-bottom: 47%;
		margin: 0 2% 2% 0;
	}
}
@media only screen and (max-width : 860px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.box {
		width: 31%;
		max-width: 31%;
		padding-bottom: 28%;
		margin: 0 2% 2% 0;
	}
}
@media only screen and (min-width : 860px) {
	/* desktop view: 4 tiles */
	.box {
		width: 23%;
		max-width: 23%;
		padding-bottom: 20%;
		margin: 0 2% 2% 0;
	}
}
