div.modal-body > section > iframe {
	background: black url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
	width: 100%;
}

div.modal-content {
	width: 100%;
	/*height: fit-content;*/
	max-width: 800px;
	margin: auto;
}


div#xvmp_video_container iframe{
	width: 100%;
}

div#xvmp_video_container {
	width: 100%;
}

h4.modal-title {
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow:     ellipsis;
}

.waiting {
	background: url('../images/spinner.gif') no-repeat center center !important;
}

.xvmp_player_toolbar button, .xvmp_player_toolbar .dropdown {
	display: inline-block;
}

.xvmp_info {
	margin: 8px 0;
}

.video-js .vjs-control-bar {
	display: flex;
}

.xvmp_thumbnail_not_available {
	width: 100%;
	max-width: 100%;
}
/*Copy link*/
div.form-horizontal.video-url{
	padding: 0 10px 10px 0;
	width: 50%;
}
input#video_url {
	background-color: white;
	font-size: 90%;
}

.ilPermalinkContainer #video_url {
	background-color: white;
	min-width: 300px;
	width: 50%;
	font-size: 15px;
	height: auto;
	line-height: 24px;
	text-indent: 5px;
	border: 1px solid #555555;
}
div#xvmp_video_container div#link_container{
	margin-top: 5px;
}
