<video id="xvmp_video_{ID}" class="video-js vjs-default-skin vjs-big-play-centered {CSS_CLASS}" poster="{THUMBNAIL}">
	<source src="{SOURCE}" type="{TYPE}"/>
	<!-- BEGIN captions -->
	<track kind="captions" src="{CAPTION_SOURCE}" srclang="{CAPTION_LANG}" label="{CAPTION_LANG}">
	<!-- END captions -->
        <!-- BEGIN chapters -->
        <track kind="chapters" src="{CHAPTER_SOURCE}">
        <!-- END chapters -->

</video>
<!-- BEGIN script -->
<script>
	{SCRIPT}
</script>
<!-- END script -->
