<tr class="{CSS_ROW} {ADDITIONAL_CSS} xvmp_table_row">
	<td class="std small xvmp_action">
		<a id="xvmp_add_{VAL_MID}" href="{VAL_LINK_ADD}" onclick="VimpSearch.add(event, {VAL_MID});" class="xvmp_action_add" {VAL_ACTION_ADD}>
			<img width="50px" src="/Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/add_icon.png">
		</a>
		<a id="xvmp_remove_{VAL_MID}" href="{VAL_LINK_REMOVE}" onclick="VimpSearch.remove(event, {VAL_MID});" class="xvmp_action_remove" {VAL_ACTION_REMOVE}>
			<img width="50px" src="/Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/remove_icon.jpg">
		</a>
	</td>
	<td class="std small">
		<div class="xvmp_image_container">
			<img class="xvmp_preview_image" src="{VAL_THUMBNAIL}">
		</div>
	</td>
	<td class="std small">
		{VAL_TITLE}
	</td>
	<td class="std small">
		{VAL_DESCRIPTION}
	</td>
	<td class="std small">
		{VAL_USERNAME}
	</td>
	<td class="std small">
		{VAL_COPYRIGHT}
	</td>
	<td class="std small">
		{VAL_CREATED_AT}
	</td>
</tr>