<div class="xvmp_overlay_infos">
	<div class="xvmp_overlay_infos_content">
		<p>{LABEL_TITLE} {TITLE}</p>
		<!-- BEGIN info_transcoding -->
		<p style="color:red">{INFO_TRANSCODING}</p>
		<!-- END info_transcoding -->
		<p>{LABEL_DESCRIPTION} {DESCRIPTION}</p>
		<p>{LABEL_DURATION} {DURATION}</p>
		<p>{LABEL_AUTHOR} {AUTHOR}</p>
		<p>{LABEL_CREATED_AT} {CREATED_AT}</p>
	</div>
</div>

<div class="xvmp_image_container">
	<img id="xvmp_thumbnail_{MID}" class="xvmp_preview_image" src="{THUMBNAIL}" onerror="this.src='./Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/vimp_logo.svg'">
	<div class="xvmp_play_overlay">
		<div class="xvmp_pseudo_element"></div> <!-- this is necessary to center the following image -->
		<img class="xvmp_play_icon" width="32px" height="32px" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/ViMP/templates/images/play.svg">
	</div>
</div>
<div class="xvmp_tile_title">
	<h3>{TITLE}</h3>
</div>
<div class="xoctWaiter" id="waiter_{MID}"></div>
<script type="text/javascript">{JS}</script>
