div.ilTableOuter table input[type='checkbox'] {
	width: 17px;
	height: 17px;
}

span.glyphicon-resize-vertical {
	font-size: 30px;
	padding-left: 19px;
}

tr.xvmp_table_row > td.std.small {
	vertical-align: middle;
}

/* add & remove button */
td.xvmp_action.std.small {
	vertical-align: middle;
	text-align: center;
}

div.xvmp_image_container {
	/* round corners */
	width:170px;
	height:95px;
	border-radius: 12px;
	overflow:hidden;
	background-color: black;
	position: relative;
	text-align: center;
	/* spacing */
	/*margin-left: 15px;*/
	/*margin-right: 25px;*/
}

div.xvmp_image_container img.xvmp_preview_image {
	background: url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
}

div.xvmp_sort_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.xvmp_image_container:hover img.xvmp_image_clickable {
	opacity: 0.5;
}


div.modal-content {
	width: 100%;
	/*height: fit-content;*/
	max-width: 800px;
	margin: auto;
}

div.modal-body > section > iframe {
	background: black url('../images/vimp_logo.svg') center no-repeat;
	background-size: contain;
}

.xvmp_row_added, .table-striped > tbody > tr:nth-child(odd).xvmp_row_added > td, .table-striped > tbody > tr:nth-child(odd).xvmp_row_added > th {
	/*background-color: rgba(0, 255, 0, 0.7);*/
}

/* CONVERTING OVERLAY */
.xvmp_progress_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: inherit;
	width: inherit;
	background-color: rgba(0,0,0,.7);
	vertical-align: middle;
	display: inline-block;
	color: white;
}

.xvmp_progress_bar {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	height: 100%;
	background-color: white;
	transition: .5s ease-out;
}

.xvmp_progress_bar_container {
	width: 90%;
	position: absolute;
	top: 65%;
	left: 5%;
	height: 5px;
}


/* PLAY OVERLAY */
.xvmp_play_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: inherit;
	width: inherit;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,.7);
	vertical-align: middle;
	display: inline-block;
	/*background: url('../images/play.svg') center no-repeat;*/
}

.xvmp_image_container:hover .xvmp_play_overlay, .box:hover .xvmp_play_icon {
	opacity: 1;
}

/* this is necessary to center the "play" image */
.xvmp_pseudo_element {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

div.xvmp_image_container img.xvmp_play_icon .xvmp_progress {
	vertical-align: middle;
	display: inline-block;
}

/* Button (zone) Show own videos */
div#xvmp_show_videos_btn_parent {
	width: 100%;
	height: 100px;
	background: #F9F6CB;
	text-align: center;
	border-radius: 15px;
	border-style: dashed;
	border-color: grey;
}

div#xvmp_show_videos_btn_child {
	line-height: 100px;
}
