tr.xvmp_table_row > td.std.small {
	vertical-align: middle;
}

/* add & remove button */
td.xvmp_action.std.small {
	vertical-align: middle;
}

div.xvmp_image_container {
	/* round corners */
	width:170px;
	height:95px;
	border-radius:7%;
	overflow:hidden;

	/* spacing */
	/*margin-left: 15px;*/
	/*margin-right: 25px;*/
}

div.xvmp_image_container img {
	background-image: url('../../../../../../../../../Services/WebAccessChecker/templates/images/access_denied.png');
}

div.xvmp_sort_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.xvmp_image_container:hover img {
	opacity: 0.5;
}

div.modal-content {
	width: fit-content;
	height: fit-content;
	max-width: 100%;
	margin: auto;
}

.xvmp_row_added, .table-striped > tbody > tr:nth-child(odd).xvmp_row_added > td, .table-striped > tbody > tr:nth-child(odd).xvmp_row_added > th {
	/*background-color: rgba(0, 255, 0, 0.7);*/
}